# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs工程
*.sdf
.ilk
.pdb
.opensdf
./libuv_server.vsproj/.vs/*
./libuv_server.vsproj/Debug/*
./libuv_server.vsproj/x64/*
./libuv_server.vsproj/libuv_server/Debug/*
./libuv_server.vsproj/libuv_server/logs/*
./libuv_server.vsproj/libuv_server/x64/*
./libuv_server.vsproj/libuv_server/libuv_server.vcxproj.user
./libuv_server.vsproj/libuv_server/ReadMe.txt
./libuv_server.vsproj/libuv_server/targetver.h
*.opensdf
libuv_server.vsproj/libuv_server/Debug/libuv_server.Build.CppClean.log
*.tlog
*.pdb
*.idb
libuv_server.vsproj/libuv_server/targetver.h
libuv_server.vsproj/libuv_server/ReadMe.txt
libuv_server.vsproj/libuv_server/x64/Debug/libuv_server.log
libuv_server.vsproj/x64/Debug/libuv_server.ilk
libuv_server.vsproj/libuv_server/Debug/libuv_server.log
*.suo
libuv_server.vsproj/libuv_server/libuv_server.vcxproj.user
